body {
    background-image: url('https://img.freepik.com/premium-photo/watercolor-soft-light-gradient-messy-background-with-abstract-gradient-background_1064085-1254.jpg?semt=ais_hybrid&w=740');
    background-size : cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}